<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
</head>
<body>
<h1>Consultar Pagos de un Cliente entre dos fechas</h1>
<?php

       $id=1; 
     //$id =  $_SESSION["usuario"];
       
    ?>
<form method="post" action="<?php echo htmlentities($_SERVER["PHP_SELF"]);?>">
<label for="id">Número del Cliente</label>
        <select name="id" required>
           // <option disabled selected>Selecciona un Número de Cliente</option>
            <?php
                foreach($ids as $id) {
                    echo "<option>" . $id["CustomerId"] ."</option>";
                }
            ?>
        </select><br />
        <label for='fecha_inicio'>Fecha Inicio</label>
		<input type='date' name='fecha_inicio'><br>

		<label for='fecha_fin'>Fecha Fin</label>
		<input type='date' name='fecha_fin'><br>
        <input type='submit' value='Ver pagos' name='pagos'>

</form>   
</body>
</html>

<?php

if (isset($_POST) && !empty($_POST)) {

    $id_cliente=1;//$_POST["id"];
    $inicio=$_POST["fecha_inicio"];
    $fin=$_POST["fecha_fin"];

    $info=consultarPagos($id_cliente, $inicio, $fin);

  if($info!=null) imprimirPagos($info, $id_cliente);
    else echo"<p>No hay registro de pagos de este cliente entre las fechas indicadas. <p>"; 

} else echo"<p>Seleccione un número de cliente. <p>";
